.tab-container {
  background-color: #e5aa44;
  height: 100%;
}

.button-container {
  height: 5%;
  background-color: #36251d;
  display: flex;
  justify-content: flex-start;
}

.active-button {
  background-color: #e5aa44;
  font-size: 20px;
  font-family: "Lato";
  border: none;
  width: 20%;
}

.unactive-button {
  background-color: #ead87a;
  font-size: 20px;
  font-family: "Lato";
  border: none;
  width: 20%;
}

.HTML-text {
  padding-left: 30px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
