.Header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: var(--header-bg-color);
    min-width: 100%;
  }
  
.Title {
    display: flex;
    padding-left: 30px;
    font-size: 45px;
    align-items: center;
    font-family: "Fredoka One";
    color: var(--menu-bg-color);
}

.Header a {
    font-family: "Lato";
    font-size: 28px;
    font-weight: bolder;
    text-decoration: underline;
    color: var(--menu-bg-color);
}

.NavButtons{
    display: flex;
}

.TutorialButton {
    display: flex;
    align-items: center;
    padding-right: 80px;
}

.columns {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--console-bg-color);
}

.Description {
    background-color: var(--menu-bg-color);
    color: var(--header-bg-color);
    font-family: "Lato";
    padding: 2em;
}