.App {
  text-align: left;
  min-height: 100vh;
  background-color: #EAD87A;
  z-index: -1;
  overflow: hidden;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #8EB9D8;
  min-width: 100%;
}

.Title {
  display: flex;
  padding-left: 30px;
  font-size: 45px;
  align-items: center;
  font-family: "Fredoka One";
  color: #36251D;
}

.Header a {
  font-family: "Lato";
  font-size: 28px;
  font-weight: bolder;
  text-decoration: underline;
  color: #36251D;
}

.NavButtons{
  display: flex;
}

.TutorialButton {
  display: flex;
  align-items: center;
  padding-right: 80px;
}
