.App {
  text-align: left;
  min-height: 100vh;
  background-color: #EAD87A;
  z-index: -1;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  background-color: #8EB9D8;
  min-width: 100%;
}

.Title {
  display: flex;
  padding-left: 30px;
  font-size: 10vh;
  align-items: center;
  font-family: "Fredoka One";
  color: #36251D;
}

.Header a {
  font-family: "Lato";
  font-size: 28px;
  font-weight: bolder;
  text-decoration: underline;
  color: #36251D;
}

.NavButtons{
  display: flex;
}

.TutorialButton {
  display: flex;
  align-items: center;
  padding-right: 80px;
}

.Levels {
  background-color: #36251D;
  width: 200px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
}


.Levels a {
  font-size: 28px;
  font-family: "Lato";
  color: #8EB9D8;
}

