.App {
  text-align: left;
  min-height: 100vh;
  background-color: #F3C94F;
  z-index: -1;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 183px;
  background-color: #8EB9D8;
}

.Title {
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 96px;
  font-family: "Fredoka One";
  color: #36251D;
}

.Header a {
  font-family: "Lato";
  font-size: 28px;
  font-weight: bolder;
  text-decoration: underline;
  color: #36251D;
}

.TutorialButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LevelButton {
  width: 267px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Levels {
  background-color: #36251D;
  width: 267px;
  height: 528px;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
}

.Levels a {
  font-size: 28px;
  font-family: "Lato";
  color: #8EB9D8;
}

