html {
    height: 100%
}
body {
    margin: 0;
    padding: 0;
    height: 100% ;
}
.side-drawer {
    background-color: #36251D;
    width: 200px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    transform: translateX(200px);
    transition: transform 0.3s ease-out;
}

.side-drawer a {
    font-size: 28px;
    font-family: "Lato";
    color: #8EB9D8;
}
.side-drawer.open {
    transition: 1s;
    transform: translateX(0px);
}