html {
    height: 100%
}
body {
    margin: 0;
    padding: 0;
    height: 100% ;
}
.side-drawer {
    background-color: var(--menu-bg-color);
    width: 200px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    transform: translateX(200px);
    transition: transform 0.3s ease-out;
}

.side-drawer a {
    font-size: 28px;
    font-family: "Lato";
    color: var(--header-bg-color);
}
.side-drawer.open {
    transition: 1s;
    transform: translateX(0px);
}